@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse{
  padding: 0px;
  min-height: 0px;
  border-radius: 5px;
  margin: 0px;
}

.collapse-title{
  min-height: 1px;
  padding-left: 1em;
  padding-top: 8px;
  padding-bottom: 8px;
  margin:0px;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  min-height: 0px; 
}